/*CSS reset settings here*/
 /**{
 margin: 0px;
 padding: 0px;
} */
*{
	padding:0;
	margin:0;
}


#background{
 width: 970px;
 background-color: #1d355c;
}
#header{
 height: 50px;
 width: 825px;
 margin: 15px 15px 15px 15px; 
 border-radius: 20px;
 color: #c3d3e9; /* color for text */
 padding: 10px;
 border: 10px;
 /* margin-bottom: 15px;
 margin-left: 15px;
 margin-right: 15px; */
 background-color: #cc323b;
}
#navigation{
 height: 220px;
 width: 200px;
 color: #c3d3e9;
 display: inline-block;
 /* margin-bottom: 100px; */
 /* margin-left: 15px; */
 /* padding-right: 10px; */
 /* padding 20px */
 /* margin 20px */
 /* border 20px */
 margin-left: 15px;
 border-radius: 20px;
 background-color: #2f7d8b;
}
#main_content{
 height: 400px;
 width: 625px;
 color: #c3d3e9;
 display: inline-block;
 padding-top: 20px;
 padding-left: 20px;
 margin-left: 10px;
 border-radius: 20px;
 /*padding: 20px 20px 20px 20px; /* padding around yellow*/
 /* border: 20px 20px 20px 20px; */
 vertical-align: top;
 background-color: #0f1822
}

#floor{
 height: 120px;
 width: 825px;
 margin-top: 20px; /* separate purple and yellow */
 display:block;
 background-color: #5e6672;
 margin: 15px 15px 15px 15px;
 border: 10px; 
 border-radius: 20px;
}

a{
	color: #64d0da;
	text-decoration: underline;
}

div.wordpadding {
	padding: 10px;

}

